In [49]:
import re
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn import metrics, tree
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [50]:
train = pd.read_csv('/Users/ccc/src/dev/titanic/data/train.csv')
test = pd.read_csv('/Users/ccc/src/dev/titanic/data/test.csv')

In [51]:
def breakup_names(df):
    """Breakup full name into surname, title, first name"""
    df[['surname','given_name']] = df['Name'].str.split(",", expand= True)
    df[['title', 'first_name']] = df['given_name'].str.split(n=1, expand= True)
    df = df.drop(columns=['Name', 'given_name'])
    return df

In [52]:
def predict_age(df1, df2):
    """Predict age via regression since we have so many NaN"""

In [53]:
def encode_title(df):
    #Label Encoder
    le = preprocessing.LabelEncoder()
    df['title'] = le.fit_transform(df['title'])
    return df

In [ ]:
def cv_loop(x, y, model, K):

In [54]:
train = breakup_names(train)
test = breakup_names(test)

In [55]:
train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,surname,title,first_name
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr.,Owen Harris
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs.,John Bradley (Florence Briggs Thayer)
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss.,Laina
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs.,Jacques Heath (Lily May Peel)
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr.,William Henry
5,6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q,Moran,Mr.,James
6,7,0,1,male,54.0,0,0,17463,51.8625,E46,S,McCarthy,Mr.,Timothy J
7,8,0,3,male,2.0,3,1,349909,21.0750,NaN,S,Palsson,Master.,Gosta Leonard
8,9,1,3,female,27.0,0,2,347742,11.1333,NaN,S,Johnson,Mrs.,Oscar W (Elisabeth Vilhelmina Berg)
9,10,1,2,female,14.0,1,0,237736,30.0708,NaN,C,Nasser,Mrs.,Nicholas (Adele Achem)
10,11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S,Sandstrom,Miss.,Marguerite Rut
11,12,1,1,female,58.0,0,0,113783,26.5500,C103,S,Bonnell,Miss.,Elizabeth
12,13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Saundercock,Mr.,William Henry
13,14,0,3,male,39.0,1,5,347082,31.2750,NaN,S,Andersson,Mr.,Anders Johan
14,15,0,3,female,14.0,0,0,350406,7.8542,NaN,S,Vestrom,Miss.,Hulda Amanda Adolfina
15,16,1,2,female,55.0,0,0,248706,16.0000,NaN,S,Hewlett,Mrs.,(Mary D Kingcome)
16,17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q,Rice,Master.,Eugene
17,18,1,2,male,NaN,0,0,244373,13.0000,NaN,S,Williams,Mr.,Charles Eugene
18,19,0,3,female,31.0,1,0,345763,18.0000,NaN,S,Vander Planke,Mrs.,Julius (Emelia Maria Vandemoortele)
19,20,1,3,female,NaN,0,0,2649,7.2250,NaN,C,Masselmani,Mrs.,Fatima
20,21,0,2,male,35.0,0,0,239865,26.0000,NaN,S,Fynney,Mr.,Joseph J
21,22,1,2,male,34.0,0,0,248698,13.0000,D56,S,Beesley,Mr.,Lawrence
22,23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q,McGowan,Miss.,"Anna ""Annie"""
23,24,1,1,male,28.0,0,0,113788,35.5000,A6,S,Sloper,Mr.,William Thompson
24,25,0,3,female,8.0,3,1,349909,21.0750,NaN,S,Palsson,Miss.,Torborg Danira
25,26,1,3,female,38.0,1,5,347077,31.3875,NaN,S,Asplund,Mrs.,Carl Oscar (Selma Augusta Emilia Johansson)
26,27,0,3,male,NaN,0,0,2631,7.2250,NaN,C,Emir,Mr.,Farred Chehab
27,28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune,Mr.,Charles Alexander
28,29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q,O'Dwyer,Miss.,"Ellen ""Nellie"""
29,30,0,3,male,NaN,0,0,349216,7.8958,NaN,S,Todoroff,Mr.,Lalio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,28134,11.5000,NaN,S,Giles,Mr.,Frederick Edward
862,863,1,1,female,48.0,0,0,17466,25.9292,D17,S,Swift,Mrs.,Frederick Joel (Margaret Welles Barron)
863,864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S,Sage,Miss.,"Dorothy Edith ""Dolly"""
864,865,0,2,male,24.0,0,0,233866,13.0000,NaN,S,Gill,Mr.,John William
865,866,1,2,female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,Mrs.,(Karolina)
866,867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Duran y More,Miss.,Asuncion
867,868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,Mr.,Washington Augustus II
868,869,0,3,male,NaN,0,0,345777,9.5000,NaN,S,van Melkebeke,Mr.,Philemon
869,870,1,3,male,4.0,1,1,347742,11.1333,NaN,S,Johnson,Master.,Harold Theodor
870,871,0,3,male,26.0,0,0,349248,7.8958,NaN,S,Balkic,Mr.,Cerin
871,872,1,1,female,47.0,1,1,11751,52.5542,D35,S,Beckwith,Mrs.,Richard Leonard (Sallie Monypeny)
872,873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,Mr.,Frans Olof
873,874,0,3,male,47.0,0,0,345765,9.0000,NaN,S,Vander Cruyssen,Mr.,Victor
874,875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Abelson,Mrs.,Samuel (Hannah Wizosky)
875,876,1,3,female,15.0,0,0,2667,7.2250,NaN,C,Najib,Miss.,"Adele Kiamie ""Jane"""
876,877,0,3,male,20.0,0,0,7534,9.8458,NaN,S,Gustafsson,Mr.,Alfred Ossian
877,878,0,3,male,19.0,0,0,349212,7.8958,NaN,S,Petroff,Mr.,Nedelio
878,879,0,3,male,NaN,0,0,349217,7.8958,NaN,S,Laleff,Mr.,Kristo
879,880,1,1,female,56.0,0,1,11767,83.1583,C50,C,Potter,Mrs.,Thomas Jr (Lily Alexenia Wilson)
880,881,1,2,female,25.0,0,1,230433,26.0000,NaN,S,Shelley,Mrs.,William (Imanita Parrish Hall)
881,882,0,3,male,33.0,0,0,349257,7.8958,NaN,S,Markun,Mr.,Johann
882,883,0,3,female,22.0,0,0,7552,10.5167,NaN,S,Dahlberg,Miss.,Gerda Ulrika
883,884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,Mr.,Frederick James
884,885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Sutehall,Mr.,Henry Jr
885,886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q,Rice,Mrs.,William (Margaret Norton)
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,Montvila,Rev.,Juozas
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S,Graham,Miss.,Margaret Edith
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Johnston,Miss.,"Catherine Helen ""Carrie"""
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C,Behr,Mr.,Karl Howell
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,Mr.,Patrick

In [56]:
train = encode_title(train)
test = encode_title(test)

In [57]:
train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,surname,title,first_name
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,11,Owen Harris
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,12,John Bradley (Florence Briggs Thayer)
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,8,Laina
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,Futrelle,12,Jacques Heath (Lily May Peel)
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,Allen,11,William Henry
5,6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q,Moran,11,James
6,7,0,1,male,54.0,0,0,17463,51.8625,E46,S,McCarthy,11,Timothy J
7,8,0,3,male,2.0,3,1,349909,21.0750,NaN,S,Palsson,7,Gosta Leonard
8,9,1,3,female,27.0,0,2,347742,11.1333,NaN,S,Johnson,12,Oscar W (Elisabeth Vilhelmina Berg)
9,10,1,2,female,14.0,1,0,237736,30.0708,NaN,C,Nasser,12,Nicholas (Adele Achem)
10,11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S,Sandstrom,8,Marguerite Rut
11,12,1,1,female,58.0,0,0,113783,26.5500,C103,S,Bonnell,8,Elizabeth
12,13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Saundercock,11,William Henry
13,14,0,3,male,39.0,1,5,347082,31.2750,NaN,S,Andersson,11,Anders Johan
14,15,0,3,female,14.0,0,0,350406,7.8542,NaN,S,Vestrom,8,Hulda Amanda Adolfina
15,16,1,2,female,55.0,0,0,248706,16.0000,NaN,S,Hewlett,12,(Mary D Kingcome)
16,17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q,Rice,7,Eugene
17,18,1,2,male,NaN,0,0,244373,13.0000,NaN,S,Williams,11,Charles Eugene
18,19,0,3,female,31.0,1,0,345763,18.0000,NaN,S,Vander Planke,12,Julius (Emelia Maria Vandemoortele)
19,20,1,3,female,NaN,0,0,2649,7.2250,NaN,C,Masselmani,12,Fatima
20,21,0,2,male,35.0,0,0,239865,26.0000,NaN,S,Fynney,11,Joseph J
21,22,1,2,male,34.0,0,0,248698,13.0000,D56,S,Beesley,11,Lawrence
22,23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q,McGowan,8,"Anna ""Annie"""
23,24,1,1,male,28.0,0,0,113788,35.5000,A6,S,Sloper,11,William Thompson
24,25,0,3,female,8.0,3,1,349909,21.0750,NaN,S,Palsson,8,Torborg Danira
25,26,1,3,female,38.0,1,5,347077,31.3875,NaN,S,Asplund,12,Carl Oscar (Selma Augusta Emilia Johansson)
26,27,0,3,male,NaN,0,0,2631,7.2250,NaN,C,Emir,11,Farred Chehab
27,28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune,11,Charles Alexander
28,29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q,O'Dwyer,8,"Ellen ""Nellie"""
29,30,0,3,male,NaN,0,0,349216,7.8958,NaN,S,Todoroff,11,Lalio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,28134,11.5000,NaN,S,Giles,11,Frederick Edward
862,863,1,1,female,48.0,0,0,17466,25.9292,D17,S,Swift,12,Frederick Joel (Margaret Welles Barron)
863,864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S,Sage,8,"Dorothy Edith ""Dolly"""
864,865,0,2,male,24.0,0,0,233866,13.0000,NaN,S,Gill,11,John William
865,866,1,2,female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,12,(Karolina)
866,867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Duran y More,8,Asuncion
867,868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,11,Washington Augustus II
868,869,0,3,male,NaN,0,0,345777,9.5000,NaN,S,van Melkebeke,11,Philemon
869,870,1,3,male,4.0,1,1,347742,11.1333,NaN,S,Johnson,7,Harold Theodor
870,871,0,3,male,26.0,0,0,349248,7.8958,NaN,S,Balkic,11,Cerin
871,872,1,1,female,47.0,1,1,11751,52.5542,D35,S,Beckwith,12,Richard Leonard (Sallie Monypeny)
872,873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,11,Frans Olof
873,874,0,3,male,47.0,0,0,345765,9.0000,NaN,S,Vander Cruyssen,11,Victor
874,875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Abelson,12,Samuel (Hannah Wizosky)
875,876,1,3,female,15.0,0,0,2667,7.2250,NaN,C,Najib,8,"Adele Kiamie ""Jane"""
876,877,0,3,male,20.0,0,0,7534,9.8458,NaN,S,Gustafsson,11,Alfred Ossian
877,878,0,3,male,19.0,0,0,349212,7.8958,NaN,S,Petroff,11,Nedelio
878,879,0,3,male,NaN,0,0,349217,7.8958,NaN,S,Laleff,11,Kristo
879,880,1,1,female,56.0,0,1,11767,83.1583,C50,C,Potter,12,Thomas Jr (Lily Alexenia Wilson)
880,881,1,2,female,25.0,0,1,230433,26.0000,NaN,S,Shelley,12,William (Imanita Parrish Hall)
881,882,0,3,male,33.0,0,0,349257,7.8958,NaN,S,Markun,11,Johann
882,883,0,3,female,22.0,0,0,7552,10.5167,NaN,S,Dahlberg,8,Gerda Ulrika
883,884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,11,Frederick James
884,885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Sutehall,11,Henry Jr
885,886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q,Rice,12,William (Margaret Norton)
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,Montvila,14,Juozas
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S,Graham,8,Margaret Edith
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Johnston,8,"Catherine Helen ""Carrie"""
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C,Behr,11,Karl Howell
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,11,Patrick

In [ ]:
model = tree.DecisionTreeClassifier()